* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


li {
    list-style: none;

}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* Header */
header {
    position: relative;
}

.navbar {
    margin: 0 auto;
    height: 100px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /* text-transform: uppercase; */
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;

}

.navbar .logo a img {
    /* padding-top: 1px; */
    mix-blend-mode: multiply;
    width: 80px;
    margin-right: 10px;
}

.navbar .desktop-main-menu {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    margin: 10px;
}

.navbar .desktop-main-menu li {
    margin: 0;
    /* Remove default margin */
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: orange;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover {
    transform: scale(1.05);
    color: black;
}

.action-btn:active {
    scale: 0.95;
}

/* SEARCH BTN */
.navbar .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.navbar .search-btn {
    background-color: orange;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.navbar .search-btn:hover {
    transform: scale(1.05);
    color: black;
}

.navbar .search-btn:active {
    scale: 0.95;
}


/* Hamburger Menu */
.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    display: none;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.8s;
  }
  
  .hamburger-middle {
    transform: translateY(5px);
  }
  
  .hamburger-bottom {
    transform: translateY(10px);
  }
  
  /* Transition hamburger to X when open */
  .open {
    transform: rotate(90deg);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }
/* Overlay */
.overlay {
    z-index: 1;
}
.overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

/* Stop body scroll */
.stop-scrolling {
    overflow: hidden;
}
/* Mobile menu */
.mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #000;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  /* Bring menu from right */
  .show-menu {
    transform: translateX(0);
  }
  .mobile-main-menu .search
  {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    width: 100%;
  }
  
  .mobile-main-menu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px #555 dotted;
    width: 100%;
    text-align: right;
    padding-bottom: 8px;
  }
  
  .mobile-main-menu ul li a {
    color: #fff;
    transition: color 0.6s;
  }
  
  .mobile-main-menu ul li a:hover {
    color: #aaa;
  }


/* RESPONSIVE DESIGN */
/* Hide desktop menu on small screens */
@media (max-width: 992px) {

    .navbar .desktop-main-menu,
    .navbar .action-btn {
        display: none;
    }

    .mobile-only {
        display: block;
    }
    .hamburger {
        display: block;
    }
}

@media (max-width: 768px) {
    .navbar .logo a {
        font-size: 1.2rem;
    }

    .navbar .search input[type="text"] {
        width: 100px;
    }

    .navbar .search-btn {
        padding: 0.5rem 0.8rem;
    }
}

@media (max-width: 576px) {
    .navbar .logo a {
        font-size: 1rem;
    }

    .navbar .search input[type="text"] {
        width: 80px;
    }

    .navbar .search-btn {
        padding: 0.5rem 0.6rem;
    }
}

/* Section styles */
.main-section {
    text-align: center;
    margin-top: 200px;
    justify-content: center;
    padding: 50px;
}

.section-content {
    max-width: 600px;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.8); Added a semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    /* Added rounded corners for better aesthetics */
}

/* Button styles */
button {
    background-color: orange;
    color: white;
    border: 1px solid white;
    /* Initial border */
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition: border-color 0.3s ease;
    /* Transition for hover effect */

}

button:hover {
    border-color: teal;
    /* Border color on hover */
}


/*---------------------
  Footer
-----------------------*/
/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    position: absolute;
    width: 100%;
}

.footer__about {
    margin-bottom: 30px;
}

footer ul {
    list-style: none;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__about ul li {
    font-size: 16px;
    line-height: 36px;
    list-style: none;
}

.footer__about__logo {
    margin-bottom: 15px;
}

.footer__about__logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer__about__logo a {
    display: inline-block;
}

.footer__widget {
    margin-bottom: 30px;
    overflow: hidden;
}

.footer__widget h6 {
    font-weight: 700;
    margin-bottom: 10px;
}

.footer__widget ul {
    width: 50%;
    float: left;
}

.footer__widget ul li {
    list-style: none;
}

.footer__widget ul li a {
    font-size: 14px;
    line-height: 32px;
}

.footer__widget p {
    font-size: 14px;
    margin-bottom: 30px;
}

.footer__widget form {
    position: relative;
    margin-bottom: 30px;
}

.footer__widget form input {
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
    height: 46px;
    border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
    color: #404040;
}

.footer__widget form button {
    position: absolute;
    border: none;
    right: 0;
    top: 0;
    padding: 0 26px;
    height: 100%;
}

.footer__widget .footer__widget__social a {
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 16px;
    color: #404040;
    border: 1px solid #ededed;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background: #ffffff;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
    margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
    background: #7fad39;
    color: #ffffff;
    border-color: #ffffff;
}

.footer__copyright {
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 20px;
}

.footer__copyright__text {
    font-size: 14px;
    float: left;
    line-height: 25px;
}

.footer__copyright__payment {
    float: right;
}